@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=block);
@import url(UI.css);

body, body * {
  box-sizing: border-box;
  position: relative;
  margin: 0;
}

body {
  font-family: 'Fira Code', monospace;
}

canvas.paused {
  transition: filter .3s ease-out;
  filter: brightness(.7);
}

