@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body, body * {
  box-sizing: border-box;
  position: relative;
  margin: 0;
}

body {
  font-family: 'Fira Code', monospace;
}

.UI {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
  padding: 32px;
  color: white;
}

.UI > * {
  pointer-events: all;
}

canvas.paused {
  transition: filter .3s ease-out;
  filter: brightness(.7);
}

